* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url(background.jpg);
    background-position: center;
}

.homer {
    display: none;
}

#winnerimg {
    z-index: 2;
    height: 500px;
    width: 500px;
    position: absolute;
    margin-top: 20%;
}


.board {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 110%;
    width: 20%;
    margin-left: 40%;
    margin-right: 30%;
    justify-content: center;
}

.slot {
    width: 110px;
    height: 110px;
    background-color: #FEE22D;
    opacity: 0.9;
    padding: 10px 0 0 10px;
    padding-bottom: 10px;
}

.hole {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 10px;
}

.column {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: yellow;
    border-radius: 50%;
    margin: 5px;
}

.player1 .hole {
    background: red;
}

.player2 .hole {
    background-color: green;
}

@media only screen
    and (min-width : 320px)
    and (max-width : 720px) {
    #container {
        width: 100% !important;
        }
    }
