* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#box {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    height: 450px;
    position: relative;
}

.pane {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#pane1  {
    z-index: 100;
    background: #cc6600;
    width: 50%;
}

#pane2 {
    background: #ffcc00;
}

#slide {
    z-index: 200;
    position: absolute;
    top: 0;
    left: calc(50% - 5px);
    width: 10px;
    height: 100%;
    background: #666;
    border-left: 1px #333 solid;
    border-right: 1px #333 solid;
    cursor: pointer;

}
